*{
  font-family: 'Roboto Mono', monospace;
}


.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.Menu, .Quiz, .Score{
  width: 800px;
  height: 500px;
  background: orange;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.Menu button, .Quiz button, .Score button{
  width: 400px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  background: rgb(0, 0, 122);
  color: orange;
}